html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Sriracha', cursive;
    
}
nav form input{
    width: 250px !important;
}
/*------------- Navbar section------------ */
.navbar-nav li{
    padding: 0px 10px;
}
#nav-bar{
    background: linear-gradient(to right,#ccecfc, #04a7d8,#ccecfc);
    position: sticky;
    top: 0px;
    z-index: 100;
}

.navbar-nav li a{
    color:black !important;
    padding: 5px 2px;
    
}
.nav-link::after{
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background:rgb(163, 0, 0);
    transition: width 0.3s;
}

.nav-link:hover::after{
    width: 100%;
    transition: width 0.3s;
}



.navbar-toggler{
    background-color: white;
}

/*--------------- Card------------ */
.card {
    border-radius: 30px;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('img/a.jpg');
    color: white;
}
.card h4{
    text-align: center;
}
.card-body{
   text-align: center;
    align-items: center;
    justify-content: center;
}
#card h1{
    font-size: 50px;
    text-shadow:0px 4px 6px red;
    /* box-sizing: border-box; */
     box-shadow: 0px 5px 5px black;
     width: 30%;
     margin: 0px auto;
    

 
}


/*---------- carousel---------- */


.carousel-caption{
    margin-bottom:250px;
    margin-left:100px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px;
}
.carousel-caption h1{
    font-size: 90px;
    margin: 20px;
    font-family: 'Metal Mania', cursive !important;
    color: #04a7d8;
    text-shadow: 0px 5px 5px #23ce04;
    z-index: 100;
}
.carousel-caption h3{
    font-family: 'Metal Mania', cursive !important;
    color: #04a7d8;
    text-shadow: 0px 5px 5px #23ce04;
    z-index: 100;
font-size: 30px;
}
.carousel-caption button{
    font-size: 22px;
    margin:30px;
    width: auto;
    padding: 10px;
    border-radius: 35px;
    z-index: 100;
    color: #04a7d8;
    border: 2px solid #04a7d8;
}









/* -----------------Contact Us ------------------ */
.heading{
	font-size: 50px;
    text-shadow:0px 4px 6px red;
    box-shadow: 0px 5px 5px black;
    width: 30%;
    margin: 0px auto;
}

 #contact .row{
    background-color: #696868;
    background: url('img/b.png');
    border-radius:25px ;
}
.btn-info{
	width: 50%;
	letter-spacing: 2px;
    background: transparent;
    transition: all 0.5s ease-in-out;
}
.btn-info:hover{
	transform: scale(1.05);
}
.icn{
	font-family: monospace;
    font-size: 17px;
    color: white;
   
}
hr{
	width: 80%;
}
#contact ul li{
    float: left;
}

#contact ul li a{
	color: #fff;
	float: left;
	font-family: monospace;
	font-size: 22px;
	margin-left: 23px;
	margin-right: 10px;
	transition: 0.5s ease-in-out;
}
 #contact ul li a:hover{
	color: #999;
}
#contact form,#contact .address{
    margin-top: 40px;
}



/*--------- About us---------- */

#about h1{
    font-size: 50px;
    text-shadow:0px 4px 6px red;
     box-shadow: 0px 5px 5px black;
     width: 30%;
     margin: 0px auto;
  
}

#about .container{
    margin:50px auto !important;
}
#about p{
    font-size: 20px;
}
#about span{
    color:red;
    font-weight: bold;
    font-size: 23px;
}

.center{
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media(max-width: 900px){
    .carousel-caption h1{
        font-size: 40px;
    }
    .carousel-caption{
        margin-bottom:80px;
    }
    #card h1{
        font-size: 20px;
    }
    #about h1{
        font-size:20px ;
    }
    .heading{
        font-size: 20px;}
        .carousel-caption button{
            font-size: 15px;
            margin:20px;
    width: auto;
    padding: 5px;
    border-radius: 30px;
        }
        #carousel img{
            height: 450px;
        }
}


